.btn {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  border: none;
  background-color: $green;
  color: $white;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 10px;  
  margin: 10px 0;
  &:hover {
    cursor: pointer;
    background-color: $green-trn;
    color: $black;
  }
}
