.main-intro {
  background: $white url("../img/main_bg.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 250px;
  padding: 20px 0;
}

article {
  @include article;
}
