p {
  margin: 0;
  padding: 10px;
  color: $black;
  text-align: left;
}

.text-main {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
}
.text-inner {  
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
}

.text-git {
  font-size: 0.5em;
}
