h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  padding: 0;
  font-family: $f-good;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.title-main {
  font-family: $f-hipsta;
  color: $blue-gay-s;
  margin: 0;
  font-size: 3em;
  line-height: 3em;
  letter-spacing: 0.2em;
  &--inner {
    font-size: 2.5em;
    line-height: 2.5em;
  }
}

h1 {

}

h2 {
  font-size: 2em;
  color: $blue-gay-s;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}
