* {
  box-sizing: border-box;
}

.modal-container{
  position: absolute;
  width: 480px;
  min-height: 190px;
  padding: 10px 20px;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;
  z-index: 1000;
  background-color: #fff;
  border: 2px solid rgba(202, 71, 209, 0.7);
  @media only screen and (max-width: 625px) {
    top: 30%;
  }
  .reset-button {
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    border: none;
    outline: none;
    background-color: rgba(202, 71, 209, 0.3);
    &:hover {
      cursor: pointer;
      outline: 1px solid #CA47D1;
    }
  }
}

.modal-edit {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-transform: uppercase;
  font-size: 1.1em;
}

.edit-inputs {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.edit-input {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-align: center;
  border: none;
  outline: 1px solid rgba(36, 209, 59, 0.5);
  &.invalid {
    outline: 1px solid rgba(227, 100, 100, 0.5);
    &:focus {
      outline: 1px solid rgba(227, 100, 100, 1);
    }
  }
  &:focus {
    outline: 1px solid rgba(36, 209, 59, 1);
  }
}

.edit-text {
  border: none;
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 100%;
  min-height: 120px;
  resize: none;
  outline: 1px solid rgba(36, 209, 59, 0.5);
  &.invalid {
    outline: 1px solid rgba(227, 100, 100, 0.5);
    &:focus {
      outline: 1px solid rgba(227, 100, 100, 1);
    }
  }
  &:focus {
    outline: 1px solid rgba(36, 209, 59, 1);
  }
}

.edit-buttons {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 10px 0;
  .btn-edit {
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    border: none;
    outline: none;
    background-color: rgba(36, 209, 59, 0.3);
    &:hover {
      cursor: pointer;
      outline: 1px solid #24D13B;
    }
    &--red {
      background-color: rgba(227, 100, 100, 0.3);
      &:hover {
        cursor: pointer;
        outline: 1px solid #E36464;
      }
    }
  }
}
