@mixin row-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@mixin column-flex {
  display: flex;
  flex-flow: column wrap;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin link-style {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: inherit;
  text-align: center;
}

@mixin article {
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-flow: column wrap;
}
