$f-base: "Roboto Slab", Arial, Tahoma, serif;
$f-hipsta: "Lobster", Arial, Tahoma, cursive;
$f-good: "Lato", Arial, Tahoma, sans-serif;

$black: #000;
$white: #fff;
$white-trn: rgba(255, 255, 255, 0.5);
$black-trn: rgba(0, 0, 0, 0.5);

$gray: rgba(118, 110, 125, 1);
$gray-trn: rgba(118, 110, 125, 0.5);


$green: rgba(99, 198, 174, 1);
$green-trn: rgba(99, 198, 174, 0.5);

$blue-main: rgba(51, 122, 183, 0.7);
$blue-main-s: rgba(51, 122, 183, 1);
$blue-light: rgba(129, 179, 210, 0.7);
$blue-light-s: rgba(129, 179, 210, 1);
$blue-gay: rgba(75, 183, 219, 0.7);
$blue-gay-s: rgba(75, 183, 219, 1);
