* {
  box-sizing: border-box;
  &::after {
    box-sizing: inherit;
  }
  &::before {
    box-sizing: inherit;
  }
}

body {
  font-size: 15px;
  line-height: 18px;
  font-family: $f-base;
  font-weight: 400;
  text-transform: none;
  background-color: $white;
  color: $black;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}
