.top {
  width: 100%;
  margin: 0;
  padding: 0;
  &__left {
    flex-grow: 2;
    display: flex;
    flex-flow: row wrap;
    @media only screen and (max-width: 840px) {
      flex-flow: column wrap;
      align-items: center;
    }
    @media only screen and (max-width: 620px) {
      align-items: center;
    }

  }
  .lgt {
    width: 250px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    border: none;
    outline: none;
    background-color: #00b0e9;
    &:hover {
      outline: 1px solid #008dba;
      cursor: pointer;
    }
  }
}

.search-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 150px;
  &__input {
    padding: 5px 0;
    text-align: center;
    border: none;
    width: 300px;
    outline: 1px solid rgba(36, 209, 59, 0.5);
    &:focus {
      outline: 1px solid rgba(36, 209, 59, 1);
    }
  }
  &__check {
    display: none;
  }
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 20px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    background-color: rgba(202, 71, 209, 0.3);
    &:hover {
      cursor: pointer;
      outline: 1px solid #CA47D1;
    }
  }
}

.search-group {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  &__actions {
    width: 100%;
    display: flex;
    justify-content: center;
    .btn {
      width: 50%;
      padding: 5px 10px;
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.9em;
      border: none;
      outline: none;
      background-color: rgba(36, 209, 59, 0.3);
      &:hover {
        cursor: pointer;
        outline: 1px solid #24D13B;
      }
      &--red {
        background-color: rgba(227, 100, 100, 0.3);
        &:hover {
          cursor: pointer;
          outline: 1px solid #E36464;
        }
      }
    }
  }
}
