.top-bar,
.top-bar ul {
  background-color: #e6e;
}

.top-bar {
  .menu-text {
    color: #fff;
  }
  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }
  .active-link {
    font-weight: bold;
  }
}
