{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "chrome": "55",
          "edge": "14",
          "firefox": "54",
          "safari": "10.1",
          "opera": "42"
        }
      }
    ],
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "babel-polyfill",
    "react-hot-loader/babel",
    "emotion",
    "react-html-attrs"
  ]
}
